<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link th:href="@{/covid-api/main.css}" rel="stylesheet" />
<title>Spring Boot Application</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	<div class="main">
		<div class="analyticsdiv1">
			<div class="analyticsdiv1_1">Positive To Test Ratio</div>
			<div class="analyticsdiv1_2">
				<img class="image" src="http://localhost:8000/plots/corona_rate/bar_chart">
			</div>
		</div>

		<div class="analyticsdiv2">
			<div class="analyticsdiv2_1"></div>
			<div class="analyticsdiv2_2"></div>
		</div>
		<div class="analyticsdiv3">
			<div class="analyticsdiv3_1"></div> 
			<div class="analyticsdiv3_2"></div>
		</div>
		<div class="analyticsdiv4">
			<div class=analyticsdiv4_1></div>
			<div class=analyticsdiv4_2></div>
		</div>
		<div class="analyticsdiv5">
			<div class=analyticsdiv5_1></div>
			<div class=analyticsdiv5_2></div>
		</div>
		<div class="analyticsdiv6">
			<div class=analyticsdiv6_1></div>
			<div class=analyticsdiv6_2></div>
		</div>
		<div class="analyticsdiv7">
			<div class=analyticsdiv7_1></div>
			<div class=analyticsdiv7_2></div>
		</div>
		<div class="analyticsdiv8">
			<div class=analyticsdiv8_1></div>
			<div class=analyticsdiv8_2></div>
		</div>
		<div class="analyticsdiv9">
			<div class=analyticsdiv9_1></div>
			<div class=analyticsdiv9_2></div>
		</div>
		<div class="analyticsdiv10">
			<div class=analyticsdiv10_1></div>
			<div class=analyticsdiv10_2></div>
		</div>
	</div>
</body>
</html>