<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link th:href="@{/covid-api/main.css}" rel="stylesheet" />
<title>Spring Boot Application</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	<div class="main">
		<div class="worldanalyticsdiv1">
			<div class="worldanalyticsdiv1_1">WorldwideCases</div>
			<div class="worldanalyticsdiv1_2">
				<img class="image"
					src="http://localhost:8000/plots/coronaWorldCases/bar_chart">
			</div>
		</div>

		<div class="worldanalyticsdiv2">
			<div class="worldanalyticsdiv2_1">Cumulative TimeSeries</div>
			<div class="worldanalyticsdiv2_2">
				<img class="image"
					src="http://localhost:8000/plots/coronaWorldCases/cumulativegraph">
			</div>
		</div>
		<div class="worldanalyticsdiv3">
			<div class="worldanalyticsdiv3_1"></div>
			<div class="worldanalyticsdiv3_2"></div>
		</div>
		<div class="worldanalyticsdiv4">
			<div class="worldanalyticsdiv4_1"></div>
			<div class="worldanalyticsdiv4_2"></div>
		</div>
		<div class="worldanalyticsdiv5">
			<div class="worldanalyticsdiv5_1"></div>
			<div class="worldanalyticsdiv5_2"></div>
		</div>
		<div class="worldanalyticsdiv6">
			<div class="worldanalyticsdiv6_1"></div>
			<div class="worldanalyticsdiv6_2"></div>
		</div>
		<div class="worldanalyticsdiv7">
			<div class="worldanalyticsdiv7_1"></div>
			<div class="worldanalyticsdiv7_2"></div>
		</div>
		<div class="worldanalyticsdiv8">
			<div class="worldanalyticsdiv8_1"></div>
			<div class="worldanalyticsdiv8_2"></div>
		</div>
		<div class="analyticsdiv9">
			<div class="worldanalyticsdiv9_1"></div>
			<div class="worldanalyticsdiv9_2"></div>
		</div>
		<div class="worldanalyticsdiv10">
			<div class="worldanalyticsdiv10_1"></div>
			<div class="worldanalyticsdiv10_2"></div>
		</div>
	</div>
</body>
</html>